/* Import fonts from fonts.css file */
@import url(./fonts.css);

/* Import CSS variables */
@import url(./partials/_variables.css);

/* Import Global Styling */
@import url(./partials/_global.css);


/*  Start Navigation */

.navbar-nav > li {
    padding-left:15px;
    padding-right:15px;
}
  
.navbar-brand {
    padding-left: 18%;
    /* 250px */
}

.navbar-nav {
    padding-right:250px;
}

/* Nav Bar Text */
.nav-link {
    color: var(--title-color);
}

.navbar-nav a:hover {
    color: var(--title-color);
}

/*  End Navigation */



/* Banner Area */

.subheading {
    padding-top: 20px;
}

.site-banner {
    /* background: url(../img/banner/home-banner.png) no-repeat; */
    background-position: 0% 50%;
}

.site-title {
    padding-top: 12%;
    font-weight: 500;
    padding-left: 10%;
}

.banner-image {
    padding: 7rem 0;
    width: 90rem;
}

.button.primary-button {
    padding-top: 20px;
}

.banner-image {
    padding-top: 60px;
}

/* End Banner Area */


/* Start About Area */

.about-title h2 > span {
    display: block;
    font-size: 40px;
    letter-spacing: 5px;
}

.button.primary-button.learn-more {
    margin-top: -10px;
}


/* End About Area */


/* Start Brand Area */


.skills-area {
    display: block;
    font-size: 30px;
    letter-spacing: 5px;  
    padding-left: 5%;
}

.skills-image-area {
    padding: 1rem 20rem;
    margin-top: 60px;
    margin-bottom: 4rem;
    padding-left: 20%;
}

.col-lg-4 {
    display: flex;
    justify-content: center;
}

.col-lg-4 > .single-brand {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 0.4rem 0.40rem;
    margin: 0.9rem 0;
    width: 420px;
    height: 120px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.col-lg-4 > .single-brand > img {
    width: 100px;
    height: 100px;
}

.col-lg-4 > .single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.skills-area span {
    display: block;
}

.skills-text {
    background: url(../img/client-info-bg.png) no-repeat 40px 5px;
    padding: 2rem 2rem;
    width: 50rem;
    height: 50rem;
    padding-left: 4rem;
    position: relative;
}

/* End Brand Area */


/* Start Blog Area */

.blog {
    margin-top: -440px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}


.blog-title {
    padding: 2rem;
}

.item {
    height: 440px;
    width: 350px;
    text-align: center;
    margin-top: 70px;
    margin-left: 12.5%;
    margin-right: 10%;
    margin-bottom: 40px;
    padding: 2rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.checkout {
    text-align: center;
}

.btn.button.primary-button.btn-blog {
    margin-top: 10%;
}

.blog1img {
    text-align: center;
}

/* End Blog Area */


