/* Import fonts from fonts.css file */
@import url(./fonts.css);

/* Import CSS variables */
@import url(./partials/_variables.css);

/* Import Global Styling */
@import url(./partials/_global.css);


/*  Start Navigation */

.navbar-nav > li {
    padding-left:15px;
    padding-right:15px;
}
  
.navbar-brand {
    padding-left: 18%;
    /* 250px */
}

.navbar-nav {
    padding-right:250px;
}

/* Nav Bar Text */
.nav-link {
    color: var(--title-color);
}

.navbar-nav a:hover {
    color: var(--title-color);
}

/*  End Navigation */



/* Banner Area */

.subheading {
    padding-top: 20px;
}

.site-banner {
    /* background: url(../img/banner/home-banner.png) no-repeat; */
    background-position: 0% 50%;
}

.site-title {
    padding-top: 12%;
    font-weight: 500;
    padding-left: 10%;
}

.banner-image {
    padding: 7rem 0;
    width: 90rem;
}

.button.primary-button {
    padding-top: 20px;
}

.banner-image {
    padding-top: 60px;
}

/* End Banner Area */


/* Start About Area */

.about-title h2 > span {
    display: block;
    font-size: 40px;
    letter-spacing: 5px;
}

.button.primary-button.learn-more {
    margin-top: -10px;
}


/* End About Area */


/* Start Brand Area */


.skills-area {
    display: block;
    font-size: 30px;
    letter-spacing: 5px;  
    padding-left: 15%;
}

.skills-image-area {
    padding: 1rem 20rem;
    margin-top: 60px;
    margin-bottom: 4rem;
    padding-left: 15%;
}

.col-lg-4 {
    display: flex;
    justify-content: center;
}

.col-lg-4 > .single-brand {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 0.4rem 0.40rem;
    margin: 0.9rem 0;
    width: 420px;
    height: 120px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.col-lg-4 > .single-brand > img {
    width: 100px;
    height: 100px;
}

.col-lg-4 > .single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}


/* End Brand Area */




